.header{
    background-color: pink;
    color: black;
    text-align: center;
    z-index: 100;
    top: 0;
    position: sticky;
    font-size: 50px;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
.headerr{
    background-color: pink;
    color: black;
    text-align: center;
    z-index: 100;
    top: 0;
    position: sticky;
    font-size: 50px;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;
}
body{
    background-image: url(w.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.column {
    padding: 15px;
    margin: 10px;
    color: black;
    text-align: center;
}
.column img {
    width: 150px;
    height: 150px;
}
button {
    position: absolute;
    width: 150px;
    height: inherit;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    font-size: 1.2em;
}
button:nth-child(1) {
    margin-left: -200px;
    background: #e94d58;
}
button:nth-child(2) {
    margin-right: -200px;
    background: white;
    color: #e94d58;
}
.footer {
    background-color:pink;
    color: black;
    text-align: center;
    margin-top: 200px;
}